<%  var title = 'Supertest'; %>

<!DOCTYPE html>
<html lang="cs">

<head>
	<meta charset="utf-8">
	<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

	<meta property="og:title" content="<%= title %>">
	<meta property="og:description" content="">
	<meta property="og:image" content="">
	<meta property="og:site_name" content="">
	<meta property="og:url" content="">

	<meta name="twitter:card" content="summary">
	<meta name="twitter:title" content="<%= title %>">
	<meta name="twitter:description" content="">
	<meta name="twitter:image" content="">

	<link rel="apple-touch-icon" sizes="57x57" href="./img/favicons/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="./img/favicons/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="./img/favicons/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="./img/favicons/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="./img/favicons/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="./img/favicons/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="./img/favicons/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="./img/favicons/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="./img/favicons/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192" href="./img/favicons/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="./img/favicons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="./img/favicons/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="./img/favicons/favicon-16x16.png">
	<link rel="manifest" href="./img/favicons/manifest.json">
	<meta name="msapplication-TileColor" content="##3cdbc0">
	<meta name="msapplication-TileImage" content="./img/favicons/ms-icon-144x144.png">
	<meta name="theme-color" content="#3cdbc0">

	<title><%= title %></title>

	<link rel="stylesheet" href="./css/all.css?cb=">

	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
</head>

<body>


	<header class="c-header">
		<div class="container" role="navigation">
			<img class="logo" src="./img/logo-purple.svg" alt="">
			<a class="phone" href="tel:+420737770642">
				<img src="./img/ico-phone.svg" alt="phone number">
				<img class="anim" src="./img/ico-phone-lines.svg" alt="">
			</a>
		</div>
	</header>

	<main>
		<section class="c-teaser">
			<div class="container">
				<img class="logo" src="./img/logo.svg" alt="logo">
				<h1>Hledáme hrdinu pro kodérskou misi Jsi to ty? Tak ukaž!</h1>
				<p>Nakóduj tento testovací design nejlépe jak umíš! A responsivně prosím. Podporujeme poslední dvě verze normálních prohlížečů + IE11.</p>
				<a href="#scroll" class="c-btn bordered big js-scroll">JS klikem zascrolluj dále</a>
			</div>
		</section>

		<section class="c-text">
			<div class="container tiny" id="scroll">
				<h2>Nebude to jen tak,<br> máme několik kritérií.</h2>
				<p>Dodržení designu. Kreativita. Organizace kódu. Tooling. Validita. Sémantika. Přístupnost. Rychlost stažení. Použitelnost. Responsivita.<br> Tvoji práci uvidí více lidí, kteří ji budou hodnotit.</p>
				<p>Pokud chceš, můžeš s námi pomocí textů v designu komunikovat,<br> ale dodrž jejich různorodou délku prosím.</p>
			</div>
		</section>
			
		<section class="container">
			<div class="c-tab">
				<div class="tab-list">
					<span data-tab="1" class="js-tab-btn active">JS Taby</span>
					<span data-tab="2" class="js-tab-btn">Co s tímto</span>
					<span data-tab="3" class="js-tab-btn">Uděláš v responsive</span>
					<span data-tab="4" class="js-tab-btn">Hmmm?</span>
				</div>
				<div class="tab-content">
					<!-- tab 1-->
					<span data-tab="1" class="js-tab-btn active">JS Taby</span>
					<div data-tab="1" class="js-tab active">
						<%- include('parts/tab-1') %>
						<%- include('parts/tab-2') %>
						<%- include('parts/tab-3') %>
					</div>

					<!-- tab 2-->
					<span data-tab="2" class="js-tab-btn">Co s tímto</span>
					<div data-tab="2" class="js-tab">
						<%- include('parts/tab-1') %>
						<%- include('parts/tab-3') %>
						<%- include('parts/tab-2') %>
					</div>

					<!-- tab 3-->
					<span data-tab="3" class="js-tab-btn">Uděláš v responsive</span>
					<div data-tab="3" class="js-tab">
						<%- include('parts/tab-2') %>
						<%- include('parts/tab-1') %>
						<%- include('parts/tab-3') %>
					</div>

					<!-- tab 4-->
					<span data-tab="4" class="js-tab-btn">Hmmm?</span>
					<div data-tab="4" class="js-tab">
						<%- include('parts/tab-3') %>
						<%- include('parts/tab-2') %>
						<%- include('parts/tab-1') %>
					</div>

				</div>
			</div>
		</section>
	</main>

	<footer class="c-footer">
		<div class="container">
			<div class="img-wrapper">
				<div class="img inViewport">
					<img src="./img/ico-footer-1.png" alt="">
					<img src="./img/ico-footer-2.png" alt="">
				</div>
			</div>
			<a class="c-btn" href="https://google.com" target="_blank">Link na oblíbený kodérský zdroj</a>
			
			<p>Hotovou šablonu nám nasdílej v git repozitáři.<br> Těšíme se na tvůj SUPERKÓD.</p>
			<p>Celý tým SUPERKODERS ti drží palce.</p>
		</div>
	</footer>

	<!--- / Content -->
	<script src="./js/all.js?cb="></script>
</body>

</html>